#unorderedlist{
    list-style: none;
}
li{
   display: flex;
   justify-content: center;
   align-items: center;
    gap:2rem;
    width: 100vw;
    background-color: aqua;
   
}

.active-link {
    border: 1px solid red;
    padding: 0.5rem;
    border-radius: 5px;
}