.user-container{
    border: 5px solid black;
margin: 3rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:1rem;
padding: 1rem;
margin: 1rem;
background-color: black;
flex-wrap:wrap ;
}
#userimage{
    height: 100px;
    width: 100px;

}